{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
{% include "tweets/modules/head_snippet.html" %}
<body>
  <div class="container">
    {% include "tweets/modules/search_box_snippet.html" %}
    <div class="container-fluid">
      <div class="row">
       <div class="col-md-6">
        {% include "tweets/modules/newest_tweets.html" with latest_tweets_list=latest_tweets_list %}
       </div>
       <div class="col-md-6">
        {% include "tweets/modules/most_active_d_of_w.html" with chart_array=chart_array %}
        {% include "tweets/modules/most_recent_searches.html" with searches=searches %}
      </div>
    </div>
  </div>

</div><!-- /.container -->


</body>
</html>
